body{
    margin: 0;
    padding: 0;
}

.landingpoint{
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: darkgray;
    display: flex;
    float: left;
    height: 10vh;
    transition: all .5s ease;
    width: 100%;
}

.fixed {
    position: fixed;
    top: 0;
    background-color: darkgray;
    display: flex;
    width: 100%;
    float: left;
    height: 10vh;
    transition: all .5s ease;
}

.header-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    float: left;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.header-list > li {
    display: flex;
    margin:10px;
    justify-content: space-around;
    font-weight: bold;
}

.header-list > li > img {
    width: 20px;
    height: 20px;
    transition: 0.2s;
}

.header-list > li > img:hover{
    width: 30px;
    height: 30px;
    transition: 0.2s;
}

.content-half {
    box-sizing: border-box;
    display: flex;
    float: left;
    width: 50%;
    padding-top: 10%;
    padding: 20px;
    height: 110vh;
}

#content-half-one{
    background-color:black;
    color: azure;
}

#content-half-two{
    background-color:azure;
    color: black;
}


/*
----    Phone Config    ----
*/
@media (min-width:300px){
    
    .content-half{
        width: 100%;
        padding-top: 10%;
        box-sizing: border-box;
        display: flex;
        float: left;
        height: 90vh;
    }

    .header-list{
        justify-content: space-around;
        width: 100%;
    }

    .fixed{
        justify-content: space-around; 
    }

    .sticky{
        justify-content: space-around;
        width: 100%;
    }
}


/*
----    Tablet Config    ----
*/
@media (min-width:700px){

    .header-list{
        justify-content: space-around;
        width: 100%;
    }

    .content-half {
        box-sizing: border-box;
        display: flex;
        float: left;
        width: 50%;
        padding-top: 10%;
        padding: 20px;
        height: 110vh;
    }

}

/*
----    Laptop Config    ----
*/

@media (min-width:800px){

    .header-list {
        float: left;
        justify-content: left;
    }

    .content-half {
        box-sizing: border-box;
        display: initial;
        float: left;
        width: 50%;
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        height: 150vh;
    }

}